.user-posts {
  width: 80%;
  margin: 0 auto;
  &__error {
    color: $red;
    text-align: center;
  }
  &__no-posts {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-family: $gilroy;
    margin: 2rem 0;
    min-height: 60vh;
    cursor: default;
    &-link {
      color: $yellow;
      outline: none;
      &:hover {
        color: $yellowHover;
      }
    }
  }
}
.user-post {
  border: solid 1px $darkBlue;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem auto;
  display: block;
  transition-duration: 500ms;
  cursor: default;
  &:hover &__header {
    background-color: $blueHover;
  }
  &__header {
    font-size: 1.3rem;
    margin: 0;
    margin-bottom: .5rem;
    color: $white;
    padding: .5rem;
    border-radius: 8px;
    transition-duration: 500ms;
    display: flex;
    justify-content: space-between;
    background-color: $darkBlue;
  }
  &__title {
    background-color: inherit;
    font-size: 1.3rem;
    margin: 0;
    color: $white;
    padding: 0;
    border-radius: 8px;
  }
  &__summary {
    font-family: $gilroy;
    font-size: 1rem;
  }
  &__date {
    font-size: .8rem;
  }
  &__control {
    padding: .3rem .5rem;
    font-size: 1.4rem;
    cursor: pointer;
    color: $white;
    min-width: 2rem;
    margin: 0 .5rem;
    font-size: 1rem;
    height: 2rem;
    &--edit {
      background-color: $skyblue;
      &:hover { background-color: $blue;}
    }
    &--delete {
      background-color: $red;
      &:hover {
        background-color: red;
      }
    }
  }
}