@import "./common/common.scss";

// Commons
@import "./components/common/button.scss";
@import "./components/section.scss";
@import "./components/loading-screen.scss";

// Components
@import "./components/schedule-meeting.scss";

// Landing
@import "./components/header.scss";
@import "./components/footer.scss";

// Blog
@import "./components/blog/entries-list.scss";
@import "./components/blog/post.scss";
@import "./components/blog/head.scss";
@import "./components/editor.scss";

// Animations
@import "./components/appear.scss";
@import "./components/spinner.scss";

// Internal
@import "./components/internal-header.scss";
@import "./components/internal-user-post.scss";
@import "./components/internal-dash.scss";
@import "./components/internal-configuration.scss";
@import "./components/login-form.scss";

// Error pages
@import "./components/404.scss";

body {
  background-color: #ffffff;
  color: $darkBlack;
  font-family: $grotesk;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  &:focus {
    outline: none;
  }
}
.target {
  position: absolute;
  height: $headerHeight;
  width: 100%;
  top: -$headerHeight;
  margin: 0;
  z-index: -1;
  @media screen and (max-width: $breakpoint-mobile) {
    top: 0;
  }
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: $darkBlue;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $blue;
  border-radius: 10px;
  box-shadow: inset 0 0 5px grey;
}

.demo-bg {
  background-color: $darkBlue;
  color: $white;
}

.demo-bg-2 {
  background-color: $skyblue;
  color: $white
}

.image-loading {
  border-radius: 50%;
  background-size: 10%;
  background-image: url("/img/image-loader.gif");
  background-repeat: no-repeat;
  background-position: center;
}

.loading-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-height: 40vh;
}